h1{
    text-align: center;
    padding-top: 65px;
}

h3 {
    text-align: center;
    padding-top: 10px;
}

h4{
    text-align: center;
}

body{
    padding: 0;
    margin: 0;   
    width:100vw;
    height: 100vh;  

}
body {
    background: radial-gradient(green, rgb(10, 150, 10), rgb(0, 179, 0));
}

* {
    margin: 0;
    padding: 0;
}

nav{

    Padding:0;
    width: 100%;
    height: 65px;
    background-color: #82eefd;
    position: absolute;
    right: 0px;
    left: 0px;


}
nav p {
    font-family: fantasy;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 60px;
    position: relative;
    left: 15px;
    top: 3px;}


h4 {
font-family: 'Times New Roman', Times, serif;
text-align: left;
padding-left: 7vh;
}
nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative ;
    z-index: 2;
}

nav ul li a {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    color: #151e3d;
    font-size: 18px;
    padding: 21px 14px;
    text-decoration: none;

}

.navi a:hover {
    border-bottom: 3px solid red;
  }
  
  .navi a.active {
    border-bottom: 3px solid red;
  }

  button {
    background-color: #534bca; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

